@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap');

body {
  margin: 0;
  /* 1. 欧文フォント, 2. 日本語フォント, 3. 総称フォント の順で指定 */
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Hiragino Kaku Gothic ProN',
    'Meiryo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  /* 1. 欧文フォント, 2. 日本語フォント, 3. 総称フォント の順で指定 */
  font-family: 'Merriweather', 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho',
    serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}